<secret ephemeral='no' private='no'>
  <uuid>{{ nova_secret_uuid | default('26d5c100-d63a-4874-8cb6-d15372c3f546') }}</uuid>
  <usage type='ceph'>
    <name>client.volumes secret</name>
  </usage>
</secret>
