#!/bin/sh

netmask=$(ip a show dev {{ primary_if }} | awk -e '/inet / { $0=$2; FS="/"; $0=$0; print $2 }')

ip a show dev {{ primary_if }} | grep -q {{ lb_db_vip }} && ip a del {{ lb_db_vip }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ rabbit_host }} && ip a del {{ rabbit_host }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ keystone_public_vip }} && ip a del {{ keystone_public_vip }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ glance_public_vip }} && ip a del {{ glance_public_vip }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ cinder_public_vip }} && ip a del {{ cinder_public_vip }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ nova_public_vip }} && ip a del {{ nova_public_vip }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ heat_public_vip }} && ip a del {{ heat_public_vip }}/${netmask} dev {{ primary_if }}
ip a show dev {{ primary_if }} | grep -q {{ ceilometer_public_vip }} && ip a del {{ ceilometer_public_vip }}/${netmask} dev {{ primary_if }}
