global
    daemon
defaults
    mode tcp
    maxconn 10000
    timeout connect 2s
    timeout client 10s
    timeout server 10s

listen stats :8888
    mode http
    stats uri /

frontend vip-db
    bind {{ lb_db_vip }}:3306
    timeout client 90s
    default_backend db-galera-noxinetd

backend db-galera-noxinetd
    stick-table type ip size 2
    stick on dst
    timeout server 90s
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_int }}:3306 check inter 1s 
{% endfor %}

backend db-galera-httpchk
    option httpchk
    stick-table type ip size 2
    stick on dst
    timeout server 90s
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_int }}:3306 check inter 1s port 9200
{% endfor %}

backend db-mariadb
    balance roundrobin
    timeout server 90s
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_int }}:3306 check inter 1s
{% endfor %}

frontend vip-rabbitmq
    bind {{ rabbit_host }}:{{ rabbit_port }}
    timeout client 900m
    default_backend rabbitmq

backend rabbitmq
    balance roundrobin
    timeout server 900m
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:{{ rabbit_port }} check inter 1s
{% endfor %}

frontend vip-keystone-admin
    bind {{ keystone_admin_vip }}:35357
    default_backend keystone-admin

backend keystone-admin
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:35357 check inter 1s
{% endfor %}

frontend vip-keystone-public
    bind {{ keystone_public_vip }}:5000
    default_backend keystone-public

backend keystone-public
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:5000 check inter 1s
{% endfor %}

frontend  vip-glance-api
    bind {{ glance_public_vip }}:9191
    default_backend glance-api

backend glance-api
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:9191 check inter 1s
{% endfor %}

frontend vip-glance-registry
    bind {{ glance_public_vip }}:9292
    default_backend glance-registry

backend glance-registry
    balance roundrobin
    server LPLCLDIUCTL1 10.68.63.71:9292 check inter 1s
#{% for node in controller_nodes %}
#    server {{ node.name }} {{ node.addr_pub }}:9292 check inter 1s
#{% endfor %}

frontend vip-cinder
    bind {{ cinder_public_vip }}:8776
    default_backend cinder

backend cinder
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8776 check inter 1s
{% endfor %}

frontend vip-nova-vnc-novncproxy
    bind {{ nova_public_vip }}:6080
    default_backend nova-vnc-novncproxy

backend nova-vnc-novncproxy
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:6080 check inter 1s
{% endfor %}

frontend vip-nova-metadata
    bind {{ nova_public_vip }}:8775
    default_backend nova-metadata

backend nova-metadata
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8775 check inter 1s
{% endfor %}

frontend vip-nova-api
    bind {{ nova_public_vip }}:8774
    default_backend nova-api

backend nova-api
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8774 check inter 1s
{% endfor %}

frontend vip-horizon
    bind {{ horizon_public_vip }}:80
    timeout client 180s
    cookie SERVERID insert indirect nocache
    default_backend horizon

backend horizon
    balance roundrobin
    timeout server 180s
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:80 check inter 1s cookie {{ node.name }}
{% endfor %}

frontend vip-heat-cfn
    bind {{ heat_public_vip }}:8000
    default_backend heat-cfn

backend heat-cfn
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8000 check inter 1s
{% endfor %}

frontend vip-heat-cloudw
    bind {{ heat_public_vip }}:8003
    default_backend heat-cloudw

backend heat-cloudw
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8003 check inter 1s
{% endfor %}

frontend vip-heat-srv
    bind {{ heat_public_vip }}:8004
    default_backend heat-srv

backend heat-srv
    balance roundrobin
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8004 check inter 1s
{% endfor %}

frontend vip-ceilometer
    bind {{ ceilometer_public_vip }}:8777
    timeout client 90s
    default_backend ceilometer

backend ceilometer
    balance roundrobin
    timeout server 90s
{% for node in controller_nodes %}
    server {{ node.name }} {{ node.addr_pub }}:8777 check inter 1s
{% endfor %}
