#!/bin/sh
export SERVICE_ENDPOINT="http://{{ private_ipaddr }}:35357/v2.0"
export OS_SERVICE_TOKEN={{ keystone_admin_token }}

keystone user-create --name admin --pass {{ admin_pass }}
keystone role-create --name admin
keystone tenant-create --name admin
keystone user-role-add --user admin --role admin --tenant admin

keystone tenant-create --name services --description "Services Tenant"

keystone service-create --name=keystone --type=identity --description="Keystone Identity Service"

keystone user-create --name glance --pass {{ glance_pass }}
keystone user-role-add --user glance --role admin --tenant services
keystone service-create --name glance --type image --description "Glance Image Service"

keystone user-create --name cinder --pass {{ cinder_pass }}
keystone user-role-add --user cinder --role admin --tenant services
keystone service-create --name cinder --type volume --description "Cinder Volume Service"

keystone user-create --name swift --pass {{ swift_pass }}
keystone user-role-add --user swift --role admin --tenant services
keystone service-create --name swift --type object-store --description "Swift Storage Service"

keystone user-create --name neutron --pass {{ neutron_pass }}
keystone user-role-add --user neutron --role admin --tenant services
keystone service-create --name neutron --type network --description "OpenStack Networking Service"

keystone user-create --name compute --pass {{ nova_pass }}
keystone user-role-add --user compute --role admin --tenant services
keystone service-create --name compute --type compute --description "OpenStack Compute Service"

keystone user-create --name=heat --pass {{ heat_pass }}
keystone user-role-add --user heat --role admin --tenant services
keystone service-create --name heat --type orchestration --description "OpenStack Orchestration Service"
keystone service-create --name heat-cfn --type cloudformation --description "OpenStack CloudFormation Service"

keystone user-create --name ceilometer --pass {{ ceilometer_pass }}
keystone user-role-add --user ceilometer --role admin --tenant services
keystone role-create --name ResellerAdmin
keystone user-role-add --user ceilometer --role ResellerAdmin --tenant services
keystone service-create --name ceilometer --type metering --description="OpenStack Telemetry Service"

keystone endpoint-create --service keystone --publicurl "http://{{ keystone_public_vip }}:5000/v2.0" --adminurl "http://{{ keystone_admin_vip }}:35357/v2.0" --internalurl "http://{{ keystone_private_vip }}:5000/v2.0"
keystone endpoint-create --service glance --publicurl "http://{{ glance_public_vip }}:9292" --adminurl "http://{{ glance_admin_vip }}:9292" --internalurl "http://{{ glance_private_vip }}:9292"
keystone endpoint-create --service cinder --publicurl "http://{{ cinder_public_vip }}:8776/v1/\$(tenant_id)s" --adminurl "http://{{ cinder_admin_vip }}:8776/v1/\$(tenant_id)s" --internalurl "http://{{ cinder_private_vip }}:8776/v1/\$(tenant_id)s"
keystone endpoint-create  --service compute --publicurl "http://{{ nova_public_vip }}:8774/v2/\$(tenant_id)s" --adminurl "http://{{ nova_admin_vip }}:8774/v2/\$(tenant_id)s" --internalurl "http://{{ nova_private_vip }}:8774/v2/\$(tenant_id)s"

keystone endpoint-create --service heat --publicurl "http://{{ heat_public_vip }}:8004/v1/%(tenant_id)s" --adminurl "http://{{ heat_admin_vip }}:8004/v1/%(tenant_id)s" --internalurl "http://{{ heat_private_vip }}:8004/v1/%(tenant_id)s"
keystone endpoint-create --service heat-cfn --publicurl "http://{{ heat_public_vip }}:8000/v1" --adminurl "http://{{ heat_admin_vip }}:8000/v1" --internalurl "http://{{ heat_private_vip }}:8000/v1"

keystone endpoint-create --service ceilometer --publicurl "http://{{ ceilometer_public_vip }}:8777" --adminurl "http://{{ ceilometer_admin_vip }}:8777" --internalurl "http://{{ ceilometer_private_vip }}:8777"


