#! /bin/sh

pcs resource show haproxy-clone || pcs resource create haproxy systemd:haproxy op monitor start-delay=10s --clone

pcs resource show vip-db || pcs resource create vip-db IPaddr2 ip={{ lb_db_vip }}
pcs resource show vip-rabbitmq || pcs resource create vip-rabbitmq IPaddr2 ip={{ rabbit_host }}
pcs resource show vip-keystone || pcs resource create vip-keystone IPaddr2 ip={{ keystone_public_vip }}
pcs resource show vip-glance || pcs resource create vip-glance IPaddr2 ip={{ glance_public_vip }}
pcs resource show vip-cinder || pcs resource create vip-cinder IPaddr2 ip={{ cinder_public_vip }}
pcs resource show vip-nova || pcs resource create vip-nova IPaddr2 ip={{ nova_public_vip }}
pcs resource show vip-horizon || pcs resource create vip-horizon IPaddr2 ip={{ horizon_public_vip }}
pcs resource show vip-heat || pcs resource create vip-heat IPaddr2 ip={{ heat_public_vip }}
pcs resource show vip-ceilometer || pcs resource create vip-ceilometer IPaddr2 ip={{ ceilometer_public_vip }}
